// 项目提供scss全局变量
// $color:red;

// 左侧菜单栏的宽度
$base_menu_width:260px;
$base_menu_width_min:50px;
// 左侧菜单的背景颜色
$base_menu_background:#001529;
// 左侧菜单logo高度设置
$base_menu_logo_height:60px;
// 左侧菜单标题字体大小
$base_menu_p_fontsize:20px;
// 顶部导航栏高度
$base_tabbar_height:50px;
